@model BookModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create a new book</h1>

<form method="post" enctype="multipart/form-data">
    <div class="row"> 
        <div class="col-md-6">
            <div >
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"  class="text-danger"></span>
            </div>
              <div class="my-3" >
                <label asp-for="Authors"></label>
                <input asp-for="Authors" class="form-control" />
                <span asp-validation-for="Authors"  class="text-danger"></span>

            </div>
              <div class="my-3"
                <label asp-for="Publisher"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher"  class="text-danger"></span>

            </div>
              <div class="my-3">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year"  class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div >
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="8"></textarea>
            </div>
            <div class="mt-2">
                  <input type="file" name="file" asp-for="DataFile"/>
             </div>
        </div>
        <div class="d-flex justify-content-center align-content-center mt-5 mb-3">
            <button class="btn btn-primary me-3" style="min-width:110px">Submit</button>
            <a class="btn btn-secondary" style="min-width:120px" asp-action="Index">Back To Home</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
    }